name: Run all tests in devcontainer

on:
  push:

jobs:
  run-tests:

    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    
    - name: run tests
      uses: devcontainers/ci@v0.3
      with:    
         runCmd: bash -c 'scripts/get-data.sh && scripts/run-tests'
         push: never


