name: Automated tests

on:
  push:

jobs:
  test:
    strategy:
      fail-fast: false
      matrix:
        jdk-version: ["8", "11", "17"]
    runs-on: ubuntu-22.04
    steps:
    - uses: actions/checkout@v3
    - name: Restore cached dependencies
      uses: actions/cache/restore@v3
      with:
        path: |
           ~/.m2/repository
           ~/.gitlibs
           ~/.deps.clj
        key: cljdeps-${{ hashFiles('deps.edn') }}
    - name: Additional dependencies
      run: DEBIAN_FRONTEND=noninteractive sudo -E apt-get install -y libopenblas-dev intel-mkl lz4
    - name: Java setup
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: {{ matrix.jdk-version }}
    - name: Setup Clojure
      uses: DeLaGuardo/setup-clojure@12.1
      with:
        cli: 1.11.1.1413
    - name: Run automated tests
      run: |
        scripts/get-data.sh
        scripts/run-tests
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: |
           ~/.m2/repository
           ~/.gitlibs
           ~/.deps.clj
        key: cljdeps-${{ hashFiles('deps.edn') }}
        restore-keys: cljdeps-
